# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/
.envrc

03_apps/emotion/emotion
03_apps/image-extractor/image-extractor
03_apps/yolo/yolo
03_apps/report/report
.DS_Store

.DS_Store
.terraform
*.tfstate
