# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/
.envrc

21_apps/emotion/emotion
21_apps/image-extractor/image-extractor
21_apps/yolo/yolo
21_apps/report/report
21_apps/pigo/pigo
.DS_Store

.DS_Store
.terraform
*.tfstate
